*.cpp linguist-language=C++
*.h linguist-language=C++
build/* linguist-vendored
external/* linguist-vendored
tests/* linguist-documentation
examples/* linguist-documentation
scripts/* linguist-documentation
src/main.cpp linguist-documentation
