*.cpp linguist-language=cpp
*.h linguist-language=cpp
CMakeLists.txt linguist-vendored
*.cmake linguist-vendored
.gitattributes linguist-vendored
.gitignore linguist-vendored
*.txt linguist-vendored
*.md linguist-documentation
tastatura.txt linguist-vendored
.idea/* linguist-vendored
cmake-build-debug/* linguist-vendored
cmake-build-release/* linguist-vendored
build/* linguist-vendored
out/* linguist-vendored
include/SFML/* linguist-vendored
lib/* linguist-vendored
external/* linguist-vendored
